<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<!-- Option 1: Bootstrap Bundle with Popper  -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<h1>Live CryptoCurrency Data</h1>
<br />
<div class="row row-cols-3 g-3">
  <div class="card col" style="width: 18rem" *ngFor="let item of data">
    <div class="card-body">
      <h5 class="card-title">{{ item.symbol }}</h5>
      <p class="card-text">
        {{ item.symbol }}  Crypto, is a type of digital currency that
        uses cryptography to secure and verify transactions as well as control
        the creation of new units.
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price Change = {{ item.priceChange }}</li>
      <li class="list-group-item">
        Price Change % = {{ item.priceChangePercent }}
      </li>
      <li class="list-group-item">last price = {{ item.lastPrice }}</li>
      <li class="list-group-item">Open price = {{ item.openPrice }}</li>
      <li class="list-group-item">Low price = {{ item.lowPrice }}</li>
    </ul>
  </div>
</div>
